# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**objectives:**
* List popular languages for Data Science
* Share your Jupyter Notebook publicly on GitHub
* Create a Jupyter Notebook with markdown and code cells
* Demonstrate proficiency in Data Science toolkit knowledge

#### Some of the popular languages that Data Scientists use are :
1. R
2. Python
3. Java
4. Julia

#### Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. plotly
3. Leaflet
4. caret

|Data Science Tools|
|------------------|
| Jupyter          | 
|R | 
Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
YangZhennan